<form #workerForm="ngForm">
    <div
    ngModelGroup="passwordGroup"
    appConfirmEqValidator
    #passwordGroup="ngModelGroup"
    [class.has-error]="
      passwordGroup.errors?.notEqual &&
      !confirmPassword.errors?.required
    "
>
      <!-- password -->
      <div
        class="form-group"
        [class.has-error]="password.touched && password.invalid"

      >
        <label for="password" class="control-label">Pasword</label>
        <input
          name="password"
          required
          type="text"
          class="form-control"
          [(ngModel)]="employee.password"
          #password="ngModel"

        />
        <span
          class="help-block"
          *ngIf="password.touched && password.errors?.required"
        >
          password is required</span
        >
      </div>
      <!-- end password -->
      <!-- confirm password -->
      <div
        class="form-group"
        [class.has-error]="confirmPassword.touched && confirmPassword.invalid"
      >
        <label for="confirmPassword" class="control-label"
          >Confirm Pasword</label
        >
        <input
          name="confirmPassword"
          required
          type="text"
          class="form-control"
          [(ngModel)]="employee.confirmPassword"
          #confirmPassword="ngModel"
        />
        <span
          class="help-block"
          *ngIf="confirmPassword.touched && confirmPassword.errors?.required"
        >
          Confirm Password is required</span
        >
        <span
          class="help-block"
          *ngIf="
            confirmPassword.touched &&
            passwordGroup.errors?.notEqual &&
            !confirmPassword.errors?.required
          "
        >
          Oba hasła nie pasuja do siebie</span
        >
      </div>
      <!-- confirm password -->
    </div>
    </form>
    <!-- password group -->
