
.vertical-align {
  display: flex;
  align-items: center;
}
.img-crop {
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 300px
}
.gallery img {
	display: block;
	max-width: 100%;
	overflow: hidden;
	height: 100%;
}

