<form
#workerForm="ngForm"
ngNativeValidate
(ngSubmit)="onSubmit(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Create Worker</h3></div>
    <div class="panel-body ">
      <!-- imie -->
      <div class="form-group"
      [class.has-success]="name.valid && name.touched"
      [class.has-error]="name.invalid && name.touched">
        <label
        class='control-label'
        for="namee">Full name</label>
        <input
          type="text"
          required
          name="name"
          [(ngModel)]="employee.name"
          class="form-control"
          id="name"
          #name="ngModel"
        />
        <span
        class='help-block'
        *ngIf="name.invalid && name.touched">wymagane</span>
      </div>
      <!-- email -->
      <div class="form-group"
      [class.has-success]="email.valid && email.touched"
      [class.has-error]="email.invalid && email.touched">
        <label for="email"
        class='control-label'>Email</label>
        <input
          type="text"
          #email='ngModel'
          required
          [email]='employee.email!==""'
          name="email"
          [(ngModel)]="employee.email"
          class="form-control"
          id="email"
        />
        <span
        class='help-block'
        *ngIf="email.errors?.required && email.touched">Email wymagany</span>
        <span
        class='help-block'
        *ngIf="email.errors?.email && email.touched">Email invalid</span>
      </div>
      <!-- phone number -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          name="phoneNumber"
          [(ngModel)]="employee.phoneNumber"
          class="form-control"
          id="phoneNumber"
        />
      </div>
      <!-- Contact Preference -->
      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input
              type="radio"
              value="phone"
              name="contactPreference"
              [(ngModel)]="employee.contactPreference"
            />
            Phone
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              value="mail"
              name="contactPreference"
              [(ngModel)]="employee.contactPreference"
            />
            mail
          </label>
        </div>
      </div>
      <!-- gender -->
      <div class="form-group">
        <label for="gender">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input
              type="radio"
              value="male"
              name="gender"
              [(ngModel)]="employee.gender"
            />
            Male
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              value="female"
              name="gender"
              [(ngModel)]="employee.gender"
            />
            Female
          </label>
        </div>
      </div>
      <!-- active -->
      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input
            type="checkbox"
            name="isActive"
            [(ngModel)]="employee.isActive" /> Is
            Active
          </label>
        </div>
      </div>
      <!-- Department -->
      <div class="form-group">
        <label for="department"> Department </label>
        <select
        class="form-control"
        id="department"
        name="department"
        [(ngModel)]="employee.department">
        <option
        *ngFor='let dept of departments'
        [value]='dept.id'>{{dept.name}}</option>
        </select>
      </div>
       <!-- Date of Birth -->
       <div class="row">
       <div class="form-group col-md-5">
        <label for="dateOfBirth">
            Date of Birth</label>
        <input
         placement="right"
          type="text"
          bsDatepicker
          [bsConfig]='datePickerConfig'
          name="dateOfBirth"
          [(ngModel)]="employee.dateOfBirth"
          class="form-control"
          id="dateOfBirth"
        />
      </div>
    </div>
          <!-- phone number -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          name="phoneNumber"
          [(ngModel)]="employee.phoneNumber"
          class="form-control"
          id="phoneNumber"
        />
      </div>
      <!-- Preview -->
      <div class="form-group">
          <label for="photoPath">Photo Path</label>
          <input
            type="text"
            name="photoPath"
            [(ngModel)]="employee.photoPath"
            class="form-control"
            id="photoPath"
          />

        </div>
        <div class="form-group">
          <img
          [src]="employee.photoPath"
          height='200'
          width='200'
          *ngIf='previewPhoto'>
        </div>
        <button
        type='button'
        class='btn btn-primary'
        (click)='togglePhotoPreview()'
        >{{previewPhoto? "Hide":"Show"}} Preview</button>
    </div>
    <div class="panel-footer">
      <button
      [disabled]="workerForm.invalid"
      type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
form model :{{ workerForm.value | json }}
<br>
employee model: {{ employee | json }}
